*{
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
body {
    font-family: "Roboto", sans-serif
}
h1{
    color: white;
}
h2{
    color: white;
}
h3{
    color: white;
}
a{
    color: white;
}
img{
    max-width: 100%;
    display: block;
}
hr{
    width: 80%;
    margin: 25px auto;
}
/* header design starts here */
header{
    background-image: url(dawn.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-blend-mode: multiply;
    background-color: rgba(0, 0, 0, 0.411);
    padding: 25px 0;
}
.flex{
    display: flex;
}
.container{
    width: 900px;
    margin: auto;
}
.logo{
    width: 20%;
}
.logo h2{
    font-size: 25px;
    font-weight: 600;

}
.logo h2 span{
    display: block;
    font-size: 16px;
    font-weight: 400;
}
nav{
    width:  80%;
}
nav ul{
    display: flex;
    justify-content: flex-end;
}
nav ul li{
    list-style-type: none;
}
nav ul li a{
    text-decoration: none;
    font-size: 17px;
    font-weight: 500;
    padding: 10px;
}
.content-banner{
    text-align: center;
    padding: 150px 0;
}
.content-banner h3{
    font-size: 30px;
    font-weight: 500;
    font-style: italic;
}
.content-banner span{
    display: block;
    width: 150px;
    height: 5px;
    background-color: #FB2259;
    margin: auto;
    margin-top: 10px;
    border-radius: 10px;
}
.content-banner h1{
    font-size: 60px;
    font-weight: 600;
    margin: 40px;
}
.content-banner a{
    background-color: #FB2259;
    text-decoration: none;
    text-transform: uppercase;
    padding: 15px;
    letter-spacing: 2px;
    border-radius: 5px;
}
/* header design ends here */

/* upcoming section starts here */
.feature{
    justify-content: center;
}
.event{
    padding-top: 60px;
    font-size: 30px;
    text-align: center;
    color: black;
}
.event h2{
    color: black
}
.event span{
    display: block;
    width: 150px;
    height: 5px;
    background-color: #FB2259;
    margin: auto;
    margin-top: 10px;
    border-radius: 10px;
}
.col-1-2{
    padding: 20px;
    text-align: center;
}
.col-1-2 img{
    width: 410px;
    height: 350px;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 10px 10px 2px #8080807d;
}
.col-1-2 h2{
    font-size: 30px;
    color: #000000cc;
    margin: 20px 0 0 0;
}
.col-1-2 p{
    font-size: 18px;
    color: #373737;
}
.col-1-2 a{
    display: block;
    font-size: 18px;
    color: #FB2259;
    letter-spacing: 2px;
    margin-top: 10px;
    text-decoration: none;
}
/* upcoming section ends here */

/* explore the world design starts here */
.explore-section{
    padding: 150px 0;
    background-image: url(father.jpg);
    background-image: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    background-color: #1767d6b8;
    color: white;
    margin-top: 100px;
    background-attachment: fixed;
}
.explore-flex{
    display: flex;
    justify-content: end;
}
.column{
    width: 50%;
}
.column h2{
    font-size: 60px;
    font-weight: 600;
}
.column span{
    display: block;
    width: 150px;
    height: 5px;
    background-color: #FB2259;
    margin: 10px 0 25px 0;
    border-radius: 10px;
}
.column p{
    font-size: 20px;
    margin-bottom: 20px;
}
.column a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 2px;
}
.tour-section{
    padding: 60px 0;
}
.column-1-2-3{
    padding: 10px;
    width: 33.33%;
}
.column-1-2-3 h2{
    color: black;
    font-weight: 600;
}
.column-1-2-3 span{
    display: block;
    width: 100px;
    height: 5px;
    background: #FB2259;
    border-radius: 10px;
    margin: 10px 0 20px 0;
}
.column-1-2-3 p{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 20px;
}
.column-1-2-3 a{
    color: blue;
    font-size: 18px;
    letter-spacing: 2px;
}
.small{
    height: 300px;
    margin-bottom: 20px;
    object-fit: cover;
}
.big{
    height: 400px;
    margin-bottom: 20px;
    object-fit: cover;
}
/* explore the world design ends here */

/* footer design starts here */
.footer-content{
    background-color: #24242b;
    padding: 80px 0;
}
.footer-content h2{
    text-align: center;
    font-size: 35px;
    font-weight: 500;
    margin-bottom: 50px;
}
.footer-content p{
    color: white;
    text-align: center;
}
.footer-content p a{
    color: blue;
    font-size: 18px;
    font-weight: 500;
}
.footer-nav{
    width: 100%;
}
.footer-nav ul{
    display: flex;
    justify-content: center;
    margin: 20px;
}
.footer-nav ul li{
    list-style-type: none;
    
}
.footer-nav ul li a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.700);
    margin-right: 10px;
    padding: 15px 20px;
}
.footer-icon{
    text-align: center;
}
.footer-icon a{
    margin: 10px;
    font-size: 30px;
}
/* footer design ends here */